<div class="col-sm-4 mb-1">
  <div class="card">
    <div class="card-header">
      <%= @model %>
    </div>
    <div class="card-body">
      <%= "#{@count_term} #{@count}" %> <br>
      <%= card_body %>
      <%= item_link %>
    </div>
  </div>
</div>
