<p>Volume(s) Selected -- if you need specific volume(s) (e.g., vol.1 and/or vol.2) check each desired volume </p>
<% holdables.each do |holdable| %>
  <%= check_box_tag 'barcodes[]', holdable.items.first.barcode, false %>

  <%= label_tag('barcodes[]', "#{holdable.call_number} (#{holdable.items.first.item_type_human})") %><br>
<% end %>
