<div class="row">
  <div class="col-md-6">
    <div class="bs-callout bs-callout-danger">
      <h3><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Notice</h3>
      <p>Returned materials may be quarantined for four days and will remain on your account during the quarantine period.</p>
    </div>
  </div>
</div>
