<%= label_tag :pickup_library, 'Pickup at:' %>
<%= select_tag 'pickup_library', render_pickup_libraries(selected),
               class: 'custom-select', data: 'pickup-location', required: validate_pickup_info %>
<%= label_tag :pickup_by_date, 'Not needed after:' %>
<%= date_field_tag :pickup_by_date, default_pickup_by_date(make_default: make_default), placeholder: 'yyyy-mm-dd', required: validate_pickup_info, min: minimum_pickup_by_date %>
<p class="card-text"><small class="text-muted">The date you enter is the date that the system will stop
  trying to obtain the item for you.  It is not a guaranteed delivery date.</small></p>
